<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DATA_TITLE</title>
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">WIW</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <br />
    <br />
    <div class="card m-5">
      <div class="card-header text-center">
        <h3>DATA_TITLE</h3>
      </div>
      <div class="card-body">
        <form action="form.php" method="post">
          <div class="mb-3">
            DATA_HIDDEN
            <label for="nik" class="form-label">NIK</label>
            <input
              type="text"
              class="form-control"
              id="nik"
              name="nik"
              value="DATA_NIK"
              placeholder="Masukkan NIK"
              required />
          </div>
          <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input
              type="text"
              class="form-control"
              id="nama"
              name="nama"
              value="DATA_NAMA"
              placeholder="Masukkan Nama"
              required />
          </div>
          <div class="mb-3">
            <label for="tempat" class="form-label">Tempat</label>
            <input
              type="text"
              class="form-control"
              id="tempat"
              name="tempat"
              value="DATA_TEMPAT"
              placeholder="Masukkan Tempat"
              required />
          </div>
          <div class="mb-3">
            <label for="tl" class="form-label">Tanggal Lahir</label>
            <input
              type="date"
              class="form-control"
              id="tl"
              name="tl"
              value="DATA_TL"
              placeholder="Masukkan Tanggal Lahir"
              required />
          </div>
          <div class="mb-3">
            <div>
              <label for="gender" class="form-label">Gender</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="inlineRadio1"
                value="Laki-laki"
                DATA_LAKI />
              <label class="form-check-label" for="gender">Laki-laki</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="inlineRadio2"
                value="Perempuan"
                DATA_PEREMPUAN />
              <label class="form-check-label" for="gender">Perempuan</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="DATA_EMAIL"
              placeholder="Masukkan Email"
              required />
          </div>
          <div class="mb-3">
            <label for="telp" class="form-label">Telepon</label>
            <input
              type="telp"
              class="form-control"
              id="telp"
              name="telp"
              value="DATA_TELP"
              placeholder="Masukkan No Telepon"
              required />
          </div>
          <button class="btn btn-primary" name="DATA_BUTTON" type="submit">
            DATA_BUTTON
          </button>
        </form>
      </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
  </body>
</html>
